.tabs {
    list-style: none;
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    flex-wrap: wrap;
}

.tab-title {
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    color: #999;
    text-align: center;
    position: relative;
    flex: 1;
    flex-wrap: wrap;
}

.tab-title {
    border-bottom: 2px solid #d0d0d0;
}

.tab-title a {
    color: #d0d0d0;
    text-decoration: none;
    white-space: nowrap;
}

.tab-title.active, .tab-title:hover{
    border-bottom: 2px solid #2196F3;
}

.tab-title.active a, .tab-title:hover a {
    color: #2196F3;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#guangyun .item {
	background-color: #80bcf03d;
}

#wangsan .item {
    background-color: #f080803d;
}

.item {
    border-radius: 10px; /* 圆角边框 */
    padding: 10px; /* 添加内边距 */
	margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.item-diwei {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
}

.item-diwei p {
    margin: 0; /* 去除段落的默认边距 */
}

.item-diwei p:before {
    color: gray;
}

.item-diwei-shengmu:before {
    content: "声母: ";
}

.item-diwei-shengdiao:before {
    content: "声调: ";
}

.item-diwei-deng:before {
    content: "等: ";
}

.item-diwei-yunmu:before {
    content: "韵母: ";
}

.item-diwei-xiaoyun:before {
    content: "小韵: ";
}

.item-zi {
    font-size: 2rem;
	display: flex;
}

.item-zi p {
	width: 50%;
	font-weight: bold;
}

.item-fanqie {
	margin-left: 5px;
	font-weight: normal!important;
}

.item-shi {
	
}

.buchong:before {
	color: gray;
	content: "補充：";
}

.qie:after {
	content: "切";
}

ul {
    list-style: none;
}
